body {
    background-image: linear-gradient(to left, #4878a8, #406a97, #385c86, #304f75, #284265);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

