body {
    background-image: url("https://wallpaperaccess.com/full/2314983.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

