.sombra-login {
    -webkit-box-shadow: 3px 7px 52px 0px rgba(179,179,179,1);
    -moz-box-shadow: 3px 7px 52px 0px rgba(179,179,179,1);
    box-shadow: 3px 7px 52px 0px rgba(179,179,179,1);
}

a{
    cursor: pointer;
}

.item-menu {
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #4878a8 50%, #7da9d4 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.item-menu:hover {
    background-position: left;
    color: #284265;
}

.accordion-header, .accordion-body {
    background-color: transparent !important;
}
.accordion-button {
    color: aliceblue;
}
.accordion {
    --bs-accordion-color: none;
    --bs-accordion-bg: none;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #212529;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%237da9d4' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #7da9d4;
    --bs-accordion-active-bg: none; 
}
.dropdown-menu {
  display: none; 
  position: absolute; 
  inset: auto auto 0px 0px; 
  margin: 0px;
  transform: translate(0px, -34px);
}